<div class="d-flex justify-content-between align-items-center mb-1">
    <label class="form-label">{{label}}</label>
    <button class="btn btn-outline-primary" (click)="agregar()">Agregar</button>
</div>
<div class="d-flex justify-content-start flex-wrap">
    <div class="d-flex flex-column align-items-center" *ngFor="let maceta of macetas; let i = index">
        <app-maceta-select class="flex-fill mx-3" [volumenes]="volumenes" [profundidades]="profundidades"></app-maceta-select>
        <button class="btn btn-link" (click)="quitar(i)">Quitar</button>
    </div>
</div>