<div class="bg-transparent d-flex justify-content-md-between align-items-center pl-4 pr-2 py-2 border rounded">
    <app-dato-tiles tipo="TP"></app-dato-tiles>
    <div class="flex-grow-1 mx-3 d-flex flex-column">
        <div class="flex-grow-1 mx-3 my-1">
            <h3 class="h3">{{title | titlecase}}</h3>
            <p>{{content}}</p>
        </div>
        <div class="d-flex justify-content-md-end">
            <button class="btn btn-link">Ver fuente</button>
        </div>
    </div>
</div>