@import "src/custom-color.scss";

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 25.367654800415039px;
        stroke-dasharray: 25.367654800415039px;
        stroke-opacity: 0;
    }

    20% {
        stroke-dashoffset: 0;
        stroke-opacity: .7;
    }

    30% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
    }

    60% {
        stroke-dashoffset: 0x;
        stroke-opacity: 0;
    }

    100% {
        stroke-dashoffset: 0x;
        stroke-opacity: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 25.367654800415039px;
        stroke-dasharray: 25.367654800415039px;
        stroke-opacity: 0;
    }

    20% {
        stroke-dashoffset: 0;
        stroke-opacity: .7;
    }

    30% {
        stroke-dashoffset: 0;
        stroke-opacity: 1;
    }

    60% {
        stroke-dashoffset: 0x;
        stroke-opacity: 0;
    }

    100% {
        stroke-dashoffset: 0x;
        stroke-opacity: 0;
    }
}

.svg-animated {
  -webkit-animation: dash 2s linear 0s infinite;
          animation: dash 2s linear 0s infinite;
}

.base-path {
    stroke: $body-bg;
}