<div class="card bg-primary">
    <div class="card-body">
        <div class="d-flex justify-content-md-between align-items-center">
            <div class="flex-grow-1">
                <h5 class="h3 card-title">{{data.nombre_popular}} | <i><small>{{data.nombre_cientifico}}</small></i></h5>
            </div>
            <app-tipo-tiles [tipo]="data.tipo.id"></app-tipo-tiles>
        </div>
        <a href="#" class="btn btn-outline-light mr-1"><strong>+</strong> de {{data.familia.nombre_popular}}</a>
        <a href="#" class="btn btn-outline-light"><strong>+</strong> de {{data.tipo.nombre}}</a>
    </div>
</div>
