<h5>Epocas</h5>
<div class="border rounded px-2">
    <table class="table table-responsive-md table-borderless table-sm">
        <thead>
            <tr>
                <th scope="col">Meses</th>
                <th class="text-center" scope="col" *ngFor="let mes of meses">{{mes}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data; let i=index">
                <th scope="row">{{d.title | titlecase}}</th>
                <ng-container *ngFor="let mes of meses; let j=index">
                    <ng-container *ngIf="isSelected(i,j) else NOT">
                        <td class="{{'bg-' + d.color}}"></td>
                    </ng-container>
                    <ng-template #NOT>
                        <td></td>
                    </ng-template>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>