<div class="container mt-3">
    <div class="row justify-content-md-center align-items-center mb-5">
        <div class="col-md-12 text-center">
            <h1>Primero, elijamos una de estas opciones</h1>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="assets/ilustrations/Environment-bro.svg" alt="">
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary mx-1 flex-fill" (click)="actividad='almacigo'">Almácigo</button>
                <button class="btn btn-primary mx-1 flex-fill" (click)="actividad='directa'">Siembra directa</button>
            </div>
        </div>
        <div class="col-md-1">
            <h6> - ó - </h6>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="assets/ilustrations/Gardening-pana.svg" alt="">
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary mx-1 flex-fill"(click)="actividad='trasplante'">Trasplante</button>
            </div>
        </div>
    </div>
    <form class="row collapse" [ngClass]="{'show':query.actividad}">
        <div class="col-md-12 mb-3" *ngIf="query.actividad!='trasplante'">
            <app-tipo-select multi=true (selectionChange)="tipos=$event"></app-tipo-select>
        </div>
        <div class="col-md-12 mb-3">
            <app-mes-select multi=true (selectionChange)="meses=$event"></app-mes-select>
        </div>
        <div class="col-md-12 mb-3" *ngIf="query.actividad=='directa'">
            <app-macetas-group (groupChange)="macetas=$event"
            [volumenes]="volumenesMaceta" [profundidades]="profundidadesMaceta"></app-macetas-group>
        </div>
        <div class="form-group col-md-12 mb-3">
            <button class="btn btn-primary btn-block" (click)="search()">Buscar</button>
        </div>
    </form>
</div>