<div class="rounded-circle border p-2 d-flex" id="tile-container">
    <ng-container [ngSwitch]="tipo">
        <ng-container *ngSwitchCase=1>
            <icon-fruto class="mx-auto"></icon-fruto>
        </ng-container>
        <ng-container *ngSwitchCase=2>
            <icon-flor class="mx-auto"></icon-flor>
        </ng-container>
        <ng-container *ngSwitchCase=3>
            <icon-hoja class="mx-auto"></icon-hoja>
        </ng-container>
        <ng-container *ngSwitchCase=4>
            <icon-raiz class="mx-auto"></icon-raiz>
        </ng-container>
        <ng-container *ngSwitchDefault>
            {{tipo}}
        </ng-container>
    </ng-container>
</div>