<div class="container-fluid my-2">
    <div class="row">
        <div class="col-md-12 mb-3">
          <form class="d-flex justify-content-md-beatween align-items-center" [formGroup]="plantasQueryForm">
              <input class="flex-shrink-1 form-control" type="text" placeholder="Nombre" aria-label="Nombre" formControlName="name">
              <button class="btn btn-outline-primary mx-2" type="submit" (click)="buscar()">
                Buscar
              </button>
              <span *ngIf="searching" class="flex-shrink-0 spinner-border text-primary" role="status" aria-hidden="true"></span>
          </form>
        </div>
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-borderless align-middle">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Variedad</th>
                    <th scope="col">Familia</th>
                    <th scope="col">Tipo</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let planta of plantasList">
                    <tr>
                        <th scope="row">{{planta.id}}</th>
                        <td>{{planta.nombre_popular}} (<i>{{planta.nombre_cientifico}}</i>)</td>
                        <td>{{planta.variedad}}</td>
                        <td>{{planta.family?.nombre_popular}} (<i>{{planta.family?.nombre_cientifico}}</i>)</td>
                        <td>{{planta.type?.nombre}}</td>
                        <ng-container *ngIf="planta.ficha else noFicha">
                          <td>
                              <button class="btn btn-outline-success btn-sm">Ficha</button>
                          </td>
                        </ng-container>
                        <ng-template #noFicha>
                          <td></td>
                        </ng-template>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
        </div>
    </div>
</div>